html, body, * {
  font-family: "ff-good-headline-web-pro", Arial, sans-serif
}

body {
  padding: 0;
  margin: 0;
}

#app {
  background-color: #fbfaf9;
}

.container {
  padding: 20px;
  max-width: 1436px;
  margin: 0 auto;
}

.header h1 {
  height: 75px;	
  font-size: 32px;	
  font-weight: 500;	
  letter-spacing: 0.4px;	
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-left: 20px;
  display: inline-block;
}

.header.solution h1 {
  width: 218px;	
}

.header.question h1 {
  width: 445px;	
}

.question-number {
  color: #FF3B00;
  text-decoration: none;
  font-weight: 600;
  font-size: 100px;
}

.header {
  line-height: 2;
}

.card-holder {
  display: flex;
  padding: 0;
  margin: 0;
}

.card-holder li {
  list-style: none;
  flex: 1;
}

.image-container {
  width: 359px;
  height: 539px;
  overflow: hidden;
  transform: translateY(-25px);
  transition: all .3s;
}

.image-container.return {
  transform: translateY(0);
}

.solution-slider {
  position: absolute;
  text-align: left;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #e9e6e3;
  transition: all .3s;
}

.solution-slider.close {
  top: 100%;
  height: 0;
}

.image-container img {
  margin: 0% 0% 0% -70%;
}

.card-holder button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: underline;
  background: #fbfaf9;
  padding-left: 20px;
  height: 60px;	
  width: 275px;
  margin-top: 27px;
  font-size: 24px;	
  font-weight: 500;	
  line-height: 30px;	
  text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
}

.fullscreen-img {
  width: 1200px;
  max-height: 480px;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.answers {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-between;
}

.answers li:not(last-child) {
  white-space: nowrap;
}

.solutions {
  display: flex;
  padding: 0;
  margin: 0;
}

.solution-item:first-child {
  margin-left: 0;
}

.solution-item:last-child {
  margin-right: 0;
}

.solution-item {
  background-color: #FFFFFF;
  position: relative;
  list-style: none;
  width: 465px;
  height: 619px;
  margin: 10px;
  text-align: center;
}

.solution-item img {
  height: 360px;
  width: auto;
  margin-top: 80px;
}

.solution-item .solution-price {
  text-align: left;
  margin: 0;
  margin-left: 27px;
  height: 34px;
  font-family: "ff-good-web-pro", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.solution-item .solution-name {
  text-transform: uppercase;
  text-decoration: underline;
  text-align: left;
  height: 41px;	
  font-size: 32px;	
  font-weight: 500;	
  letter-spacing: 0.4px;	
  line-height: 38px;
  margin-bottom: 0;
  margin-left: 27px;
}

.solution-item .recommended {
  position: absolute;
  background: #FF3B00;
  margin: 0;
  top: 0;
  left: 20px;
  font-weight: 400;
  text-transform: uppercase;
  height: 40px;
  width: 106px;
}

.solution-item .recommended p {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  line-height: 40px;
}

.solution-slider {
  position: absolute;
  text-align: left;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #e9e6e3;
  transition: all .3s;
}

.solution-slider.close {
  top: 100%;
  height: 0;
}

.solution-slider h3 {
  display: inline-block;
  text-decoration: underline;
  text-transform: uppercase;
  width: 78%;
  width: 275px;
  color: #000000;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 38px;
  margin: 0;
  margin-left: 20px;
  margin-top: 40px;
}

.solution-slider .slider-compare {
  position: absolute;
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  font-family: "ff-good-web-pro", Arial, sans-serif;
  right: 5%;
  top: 7%;
}

.solution-slider .slider-price {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-left: 20px;
  font-weight: 500;
  font-family: "ff-good-web-pro", Arial, sans-serif;
}

.solution-slider .slider-rating {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-left: 20px;
  margin-top: 5px;
  font-weight: 500;
}

.solution-slider .slider-descriptor {
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  width: 390px;
  margin: 0;
  margin-left: 20px;
  margin-top: 50px;
  text-transform: uppercase;
  font-family: "ff-good-web-pro", Arial, sans-serif;
}

.solution-slider .slider-description {
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  width: 390px;
  margin-left: 20px;
  font-family: "ff-good-web-pro", Arial, sans-serif;
}

.solution-slider .slider-btns {
  position: absolute;
  top: 90%;
  left: 0;
}

.solution-slider .slider-btns .lava-btn {
  height: 37px;
  width: 135px;
  background-color: #FF3B00;
  margin: 0 30px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.solution-slider .slider-btns .slider-ds {
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
}





