html, body, * {
  font-family: ff-good-web-pro, Arial, sans-serif;
}
.container {
  padding: 20px;
  max-width: 1200px;
}

.header h1 {
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 600;
  margin-left: 20px;
  display: inline-block;
  width: 350px;
  line-height: 1.25;
  font-size: 25px;
}

.question-number {
  color: #EB3300;
  text-decoration: none;
  font-weight: 600;
  font-size: 70px;
}

.header {
  line-height: 2;
}

.card-holder {
  display: flex;
  padding: 0;
  margin: 0;
}

.card-holder li {
  list-style: none;
  flex: 1;
}

.card-holder img {
  width: 300px;
  height: 300px;
}

.card-holder button {
  width: 100%;
  height: 150px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: underline;
  background: #EDEDED;
  padding-left: 20px;
  line-height: 1.35;
}

.card-holder button:hover {
  background: #E3E3E3 ;
}

.fullscreen-img {
  width: 1200px;
  max-height: 480px;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

